{% extends "block.html.twig" %}
{% block content %}
  <h1>
    <a href="/" id="logo">
      {% if is_front %}
        <img src="/themes/arcana/images/logo.png" alt="Logo van de Stichting Veldense Volkscultuur" width="350">
      {% else %}
        <img src="/themes/arcana/images/logo.png" alt="Logo van de Stichting Veldense Volkscultuur" width="250">
      {% endif %}
    </a>
  </h1>
{% endblock %}
