@import "partials/base";

.site-content {
  font-family: 'Merriweather', 'Georgia', serif;
  h1, h2, h3, h4, h5, h6 {
    @include font;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.225;
    margin-bottom: 1.05em;
    color: $brown;
  }
}

body {
  background: $brown;
}

/* breadcrumbs */

.breadcrumb {
  font-size: 0.8em;
  padding-bottom: 0.5em;
  ol {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      &:before {
        content: ' \BB ';
      }
      &:first-child:before {
        content: none;
      }
    }
  }
}

/* sidebar book nav */

.block-book-navigation {
  ul.menu {
    list-style: none outside;
    margin-left: 1em;
    padding: 0;
    text-align: left;
    a.is-active {
      &:hover, &:active, &:link, &:visited {
        color: #000;
      }
    }
    li.menu-item--expanded {
      list-style-image: url(../../../core/misc/menu-expanded.png);
      list-style-type: circle;
    }
    .menu-item--collapsed {
      list-style-image: url(../../../core/misc/menu-collapsed.png);
      list-style-type: disc;
    }
    .menu-item {
      padding-top: 0.2em;
      margin: 0 0 0.2em 0;
    }
  }
}

/* book navigation under book content */

.book-navigation {
  border-top: 2px solid $brown;
  opacity: 0.9;
  margin: 1em 0;
  .menu {
    padding-bottom: 0;
    padding-top: 1em;
  }
  .book-pager {
    margin: 0;
    overflow: auto;
    padding: 0.5em 0;
  }
  .book-pager__item {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
  }
  .book-pager__item--previous {
    text-align: left;
    width: 45%;
  }
  .book-pager__item--center {
    text-align: center;
    width: 8%;
  }
  .book-pager__item--next {
    float: right;
    text-align: right;
    width: 45%;
  }
}

/* footer */

.site-footer {
  font-size: 80%;
}

.site-branding {
  .site-title {
    display: none;
    a {
      color: $brown;
    }
  }
  .site-description {
    display: none;
  }
  .site-logo {
//        display: none;
    width: 320px;
    img {
    }
    margin: -80px 0 0 0;
  }
}

.main-navigation {
  .primary-menu {
    li {
//      background: $green;
      a {
        text-decoration: underline;
        &:hover, &:active, &:link, &:visited {
          color: $green;
        }
        .is-active {
          color: #000;
        }
      }
    }
  }
}

.menu-toggled {
  .primary-menu {
    li {
//      background: #FFF;
      a {
        text-decoration: underline;
        &:hover, &:active, &:link, &:visited {
          color: #222;
        }
        .is-active {
          color: #000;
        }
      }
    }
  }
}

.body, .book-navigation {
  clear: both;
}

