name: Build & deploy production
on:
  push:
    branches:
      - 'master'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 7822
          script_stop: true
          debug: true
          script: |
            cd ${{ secrets.PRODUCTION_DIR }}
            if bin/drush cim --no | grep 'WARNING' ; then bin/drush cex --diff --no && exit 1; fi
            chmod a+w web/sites/default
            chmod a+w web/sites/default/settings.php
            git reset --hard
            git checkout master
            git pull origin master
            ${{ secrets.COMPOSER }} install --no-dev --ignore-platform-reqs
            chmod a-w web/sites/default
            chmod a-w web/sites/default/settings.php
            bin/drush deploy
            bin/drush st
